@font-face {
  font-family: 'Mono Space';
  src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mono Space';
  src: url('/fonts/SpaceMono-Bold.ttf') format('truetype-variations');
  font-weight: 800;
  font-style: bold;
  font-display: swap;
}

:root {
    --background: #252526;
    --white: #fffde7;
    --accent: #5F9EA0;
    --accentOpaque: rgba(95, 158, 160, 0.8)
}

html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

body {
  font-family: 'Mono Space', 'Courier New', Courier, monospace;
  background-color: #252526;
  color: var(--white);
  font-size: 17px;
  padding: 0% 5%;
  max-width: 2000px;
  min-height: fit-content;
  height: 100%;
  margin: auto;
}

button {
  font-family: 'Mono Space';
  display: inline-block;
  border: solid 0.2rem var(--white);
  padding: 0.5rem;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  color: var(--accent);
  background-color: var(--white);
}

h2 {
  overflow-wrap: break-word;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
}

a:link {
  color: var(--white);
}
  
a:visited {
  color: var(--white);
}
  
a:hover {
  color: var(--accent);
  font-weight: bold;  
}
  
a:active {
  color: var(--accent);
} 

article {
  padding: 0.6rem 1.3rem;
  border: 3px solid var(--white);
}

.nav-link {          
  margin: 0.1rem;
  padding: 0.7rem 1rem;
  border: 3px solid var(--white);
  width:fit-content;
  transition: all 0.3s;
}

.nav-link:hover {          
    background-color: var(--white);
}



